.box-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tmIcons {
    display: flex;
    list-style-type: none;
    gap: 20px;
    font-size: 1.3rem;
}

.tmIcons li:hover {
    cursor: pointer;
    color: rgb(97, 96, 96);
}

.box-container p {
    color: rgb(65, 64, 64);
    width: 75%;
    line-height: 25px;
}

.tmImg {
    width: 200px;
    height: 195px;
    border-radius: 50%;
    // margin-bottom: 20px;
}

.nam {
   font-size: 1.3rem;
}

.jb {
   font-size: 0.8rem;
   color: rgb(167, 165, 165);
   margin-top: 5px;
}