.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.top {
    display: flex;
    gap: 5px;
}

.container h3 {
    text-decoration: underline;
    cursor: pointer;
}

.container p {
    width: 75%;
    line-height: 30px;
    @media screen and (max-width: 768px) and (min-width: 426px) {
        width: 100%;
    }
}

.btm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

