.conCont {
    display: flex;
    gap: 30px;
    padding-top: 85px;
    justify-content: center;
    background-color: rgb(240, 240, 245);
    height: 120vh;
    @media screen and (max-width: 425px) {
        flex-direction: column;
    }
}

.left {
   width: 50%;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 30%;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    padding-left: 50px;
    background-color: white;
    height: 92vh;
    @media screen and (max-width: 425px) {
        min-width: 190%;
        margin-left: 12px;
        padding-left: 40px;
    }
}

.contact-form h2 {
    color: rgb(54, 54, 54);
}

.name {
    display: flex;
    gap: 30px;
    @media screen and (max-width: 425px) {
        flex-direction: column;
    }
}

.first-name input {
    border-radius: 20px;
    border: 1px solid rgb(160, 158, 158);
    background: transparent;
    padding: 10px 30px 10px 20px;
    outline: none;
    @media screen and (max-width: 425px) {
        padding: 10px 130px 10px 20px;
    }
}

.last-name input {
    border-radius: 20px;
    border: 1px solid rgb(160, 158, 158);
    background: transparent;
    padding: 10px 30px 10px 20px;
    outline: none;
    @media screen and (max-width: 425px) {
        padding: 10px 130px 10px 20px;
    }
}

.email input {
    border-radius: 20px;
    border: 1px solid rgb(160, 158, 158);
    background: transparent;
    padding: 10px 0px 10px 20px;
    width: 88.5%;
    outline: none;
}

.subject input {
    border-radius: 20px;
    border: 1px solid rgb(160, 158, 158);
    background: transparent;
    padding: 10px 0px 10px 20px;
    width: 88.5%;
    outline: none;
}

.message input {
    border-radius: 20px;
    border: 1px solid rgb(160, 158, 158);
    background: transparent;
    padding: 12px 0px 120px 20px;
    width: 88.5%;
    outline: none;
}

.contact-detail {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    height: 38vh;
    justify-content: center;
    background-color: white;
    @media screen and (max-width: 425px) {
        min-width: 190%;
        margin-left: 12px;
    }
}

.contact-detail h3 {
    color: rgb(54, 54, 54);
}

.contact-detail p {
    color: rgb(126, 118, 118);
    line-height: 25px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    height: 45vh;
    justify-content: center;
    background-color: white;
}

.contact-info h3 {
    color: rgb(54, 54, 54);
}

.contact-info p {
    color: rgb(126, 118, 118);
    line-height: 25px;
}

.contact-form button {
    height: 7vh;
    width: 28%;
    border-radius: 30px;
    border: none;
    background-color: blue;
    color: white;
    @media screen and (max-width: 425px) {
        width: 42%;
    }
}

.contact-form button:hover {
    cursor: pointer;
    background-color: rgb(39, 39, 214);
}

.contact-info button {
    height: 7vh;
    width: 38%;
    border-radius: 30px;
    border: none;
    background-color: blue;
    color: white;
}

.contact-info button:hover {
    cursor: pointer;
    background-color: rgb(39, 39, 214);
}

.phone p {
    color: blue;
    cursor: pointer;
}

.mail p {
    color: blue;
    cursor: pointer;
}